@if (!string.IsNullOrEmpty(Message))
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error:</strong> @Message
        <button type="button" class="btn-close" @onclick="Close"></button>
    </div>
}

@code {
    [Parameter] public string Message { get; set; } = string.Empty;
    [Parameter] public EventCallback OnClose { get; set; }

    private async Task Close()
    {
        Message = string.Empty;
        await OnClose.InvokeAsync();
    }
}